<h3>An Erorr occrued while processing your request>
    <hr/>

    <!-- <h3>Error Details</h3>


    <div class="alert alert-danger">
            <h5>Exception Path</h5>
            <hr/>
            <p>@ViewBag.ExceptionPath</p>
    </div>

    <div class="alert alert-danger">
            <h5>Exception Message</h5>
            <hr/>
            <p>ViewBag.ExceptionMessage</p>
    </div>

    <div class="alert alert-danger">
            <h5>StackTrace</h5>
            <hr/>
            <p>@ViewBag.StackTrace</p>
    </div> -->